<h2> Employee List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> ID </th>
            <th> Email </th>
            <th> First Name </th>
            <th> Last Name </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of employees" >
            <td> {{ employee.id }} </td>
            <td> {{ employee.email }} </td>
            <td> {{ employee.firstName }} </td>
            <td> {{ employee.lastName }} </td>
           
        </tr>
    </tbody>
</table>
